<!Doctype html>

@using System.Data;
@using BasicWebProject.App_Code;

@{ 
    songMethodes mySongMethodes = Session["playlistClass"] as songMethodes;
    string file = Session["file"] as string;
}


<html>

<head>


</head>
<body>

</body>
</html>