<!Doctype html>

    <a><i id="close" class="fas fa-times-circle"  onclick="CloseIframe()">X</i></a>
    <video id="gerard" width="320" height="240" controls style="display: block">
        <source src="~/Gerard Joling - Shangri La.mp4" type="video/mp4">
    </video>
